---
layout: default
---

<!-- Image to hack wechat -->
<!-- <img src="/img/icon_wechat.png" width="0" height="0"> -->

<!-- Post Header -->
{% include intro-header.html type='post' %}

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

    <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-1
                col-md-10 col-md-offset-1
                post-container">

                <!-- Multi-Lingual -->
                {% if page.multilingual %}
                    {% include multilingual-sel.html %}
                {% endif %}

				{{ content }}

                <div class='header-line'>
                    <strong> ━━━━━━  ❖  ━━━━━━ </strong>
                </div>


		    
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>
{% endif %}
